/logs/

/projects/*

/boilerplates/user/*
!/boilerplates/user/.gitkeep 

/provision/user/*
!/provision/user/.gitkeep
/provision/shell/scripts/yarn.lock

/scripts/yarn.lock

/config.yaml
/.command

node_modules/

.vagrant
.DS_Store
yarn.lock
yarn-error.log
