/logs/

/projects/*
!/projects/.gitkeep 

/backups/*
!/backups/.gitkeep

/boilerplates/user/*
!/boilerplates/user/.gitkeep 

/provision/user/*
!/provision/user/.gitkeep

/config.yaml
/.command

node_modules/

.vagrant
.DS_Store
yarn-error.log
